#!/bin/bash
# {{ ansible_managed }}

{% for item in certbot_restart_service %}
echo "starting service {{ item }}"
{% if ansible_service_mgr == 'systemd' %}
systemctl restart {{ item }}
{% else %}
service {{ item }} restart
{% endif %}
{% endfor %}