#!/bin/bash
# {{ ansible_managed }}

{% for item in certbot_stop_service %}
echo "starting service {{ item }}"
{% if ansible_service_mgr == 'systemd' %}
systemctl start {{ item }}
{% else %}
service {{ item }} start
{% endif %}
{% endfor %}