#!/bin/bash
# {{ ansible_managed }}

{% for item in certbot_stop_service %}
echo "stopping service {{ item }}"
{% if ansible_service_mgr == 'systemd' %}
systemctl stop {{ item }}
{% else %}
service {{ item }} stop
{% endif %}
{% endfor %}